.metronome {
  text-align: center;
  max-width: 500px;
  border: 1px solid black;
  padding: 35px;
  margin: 0 auto;
}

.bpm-slider input{
  width: 100%;
  margin: 10px;
}

.metronome button {
  background: #6522a8;
  padding:15px;
  width: 100px;
  color: #fff;
  border: 2px #501787 solid;
  border-radius: 15%;
  box-shadow:  1px 1px 1px 1px gray;
  font-size: 20px;
}
